sudo: required
language: generic
services:
  - docker
  - yarn

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s --
  - export PATH="$HOME/.yarn/bin:$PATH"
  - docker build -t jabestrada/docker-react-lab -f Dockerfile.dev .

script:
  - docker run jabestrada/docker-react-lab yarn test -- --coverage