sudo: required
language: generic
services:
  - docker
  - yarn

before_install:
  - docker build -t jabestrada/docker-react-lab -f Dockerfile.dev .

script:
  - docker run jabestrada/docker-react-lab yarn test -- --coverage